<!DOCTYPE html>
<html lang="en">

{% include  "header.html" %}

<body>

    {% include  "navbar.html" %}


    <div class="row d-flex justify-content-center">




        {% for e in data %}


        <div class="col-lg-3">


            <div class="card stam-shadaw">


                <div class="card-img-container">



                    <img class="card-img-top" src={{e.photo}} style="width: 200px;" alt="Card image cap">
                    <div class="top-left">
                        <img src={{e.company.logo}} class="stam-shadaw img-logo">
                    </div>


                    <div class="bottom-right text-dark ">
                        <strong style="font-size: 15px;text-shadow: 2px 2px 8px #ffffff; text-shadow: 0 0 3px #ffffff;">
                            {{e.company.name}} </strong>
                    </div>

                </div>




                <div class="card-body">
                    <strong class="card-title">{{e.name}}</strong>
                    <p class="card-text text-truncate" style="max-width: 200px;">{{e.description}}</p>


                    <div class="d-flex justify-content-start">
                        <strong style="font-size: 12px;"> {{e.category.name}} </strong>
                        <strong style="font-size: 12px;margin-left: 5px;"> <i class="fa fa-tag" aria-hidden="true"></i>
                            {{e.schooltype}}
                        </strong>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between">

                        <h5><span class="badge badge-secondary"> {{e.price}} <i class="fa fa-eur"
                                    aria-hidden="true"></i></span></h5>



                        <a href={{e.id}} class="btn btn-primary btn-sm stam-shadaw"><i class="fa fa-info-circle"
                                aria-hidden="true"></i> <strong>details</strong></a>
                    </div>



                    <hr style="margin:0px; margin-top:5px">
                    {% load parse_iso %}
                    <small class="float-right"><i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{e.publishing_end_date|parse_iso}}</small>
                </div>
            </div>
        </div>





        {% endfor %}

    </div>




</body>

</html>