<nav class="navbar navbar-expand-lg navbar-light bg-go2people text-light d-flex stam-shadaw sticky-top ">


    <div class="mr-auto p-2"><a href="/" class="text-light font-weight-bold" style="font-size: 25px;">LIST PRODUCTS
        </a></div>
    <div class="p-2">
        <form action="/" method="get" class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" id="search" name="search" type="search" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0 text-light font-weight-bold stam-shadaw"
                type="submit">Search</button>
        </form>
    </div>



</nav>