<!DOCTYPE html>
<html lang="en">

{% include  "header.html" %}

<body>

    {% include  "navbar.html" %}


    <div class="container">




        <div class="card stam-shadaw" style="margin-top: 50px;">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <img src={{data.photo}} class="details-image"></div>
                        </div>

                    </article>
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3">{{data.name}}</h3>

                        <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="num">{{data.price}} <i class="fa fa-eur" aria-hidden="true"></i></span>
                            </span>

                        </p>
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd>
                                <p>{{data.description|linebreaks}} </p>
                            </dd>
                        </dl>
                        <hr>
                        <dl class="param param-feature">
                            <dt>Category</dt>
                            <dd>{{data.category.name}}</dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>School</dt>
                            <dd>{{data.schooltype}}</dd>
                        </dl>
                        <hr>
                        <dl class="param param-feature ">
                            <dt>Company</dt>
                            <dd> <img src={{data.company.logo}} class="stam-shadaw img-logo"></dd>
                            <dd>{{data.company.name}}</dd>
                        </dl>

                        <dl class="param param-feature float-right">
                            <dt><i class="fa fa-clock-o" aria-hidden="true"></i> publishing end date</dt>
                            {% load parse_iso %}
                            <dd>
                                {{data.publishing_end_date|parse_iso}}
                            </dd>
                        </dl>

                    </article>
                </aside>
            </div>
        </div>


    </div>

</body>

</html>